#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: karengranadero
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDE6KtvQDDhTVG1IpLzxnCck4Cjhq8E0QY1AyqazEZ0ZHpOhVGBUApga/fCmvnI5wgXOTWpLINXUHKItKNA1y10es112a9VpA+OH2rZ6FiUVtxQLGpMdlCtSlXNqr5AQ7djpUrT/167qeKkHkfq2tnolRbfFmGkG8L/Vn2wGHg/WjOAH95WH/vn5SKMN5HQwb3RuihoIF8ge2+8pi+APSnS7Npqjq6jirpzL+DEFfskJOyFkbsJX868g1LVCDqZUsfOBRlot+hTfeXIFUfZfptT1jUreJUp6ASmXaeOul45IOtntFZbsqxKJ3eceFqILGTJ+j4zCg08/clYPwMpQUBkXeKWrM9oWpSE+3AxAf1vZ0CdNAd6AP8nTGA3VWiGPdBvS1+lpwAVrkO/FMdueLpmSs3gqU3VVBsaEwSNfaw0Fd/0lJzUe1fFHkrsXt8k8rMm7wthd+WVGHO3qIQtD7UC4upiGqjwHXyTb+a+NYOnnzMCIa0+VOKtJ8JmuhUR6MU= jorge@c1
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false